@import './mixins';

// Fonts
$font-main: 'Raleway', serif;
$font-PlayfairDisplay: 'Playfair Display', sans-serif;
$font-Roboto: 'Roboto', sans-serif;

// colors
$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$container: 1110px;
$placeholder: #bebebe;
$textInfo: #e7e7e7;

//tablet
$table: 800px;
$tableFooter: 850px;

// padding
$mobile-padding: 10px;
